body {
  font-family: arial, helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
  padding:10px;
}

h1, h2, h3, h4, h5, h6 {
font-family: sans-serif;
color: #4f1f26;
text-shadow: 1px 1px 2px #967657;
text-decoration: double underline 1px;
}

.box {
border-width: 5px;
border: double;
padding: 3px;
margin: auto;
margin-top: 10px;
border-color: #c7bbaf;
background-image: linear-gradient(#ffffff,#f0eae4);
background-repeat: no-repeat;
max-width: 750px;
}

.stampbox {
border-width: 3px;
padding: 1px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.smol {
max-width:88px;
max-height:31px;
border-width:1px; 
border-style:solid; 
border-color: #fff; 
border-bottom-color:#000;
}

.smoltransp {
max-width:88px;
max-height:31px;
}

.gotdamimgs {

  max-width:75px;
  margin:2px;

}

a {
text-decoration: none;
}



a:link {
color: #7a5c3e;
}

a:unvisited {
color: #7a5c3e;
}

a:active {
color: #7a5c3e;
}

a:visited {
color:#7a5c3e;
}

a:hover {
color: #967657;
}





